---
// This is the frontmatter section where you can import other components or scripts if needed

const { heading, body } = Astro.props as Props;
---

<div class="logo">
	<div id="CORELOGO" class="favicon">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49.449" height="74.571" viewBox="0 0 49.449 74.571">
			<defs>
			  <clipPath id="clip-path">
				<rect id="Rectangle_93" data-name="Rectangle 93" width="49.449" height="74.571" fill="none"/>
			  </clipPath>
			</defs>
			<g id="Group_93" data-name="Group 93" transform="translate(0 0)">
			  <g id="Group_92" data-name="Group 92" transform="translate(0 0)" clip-path="url(#clip-path)">
				<path id="Path_59" data-name="Path 59" d="M42.762,47.54a3.344,3.344,0,1,0,6.687,0V25.072a3.344,3.344,0,1,0-6.687,0Zm-10.693-4.4a3.449,3.449,0,0,0,6.9,0V9.893a3.449,3.449,0,0,0-6.9,0ZM21.378,40.6a3.449,3.449,0,0,0,6.9,0V3.551a3.449,3.449,0,1,0-6.9-.2c0,.069,0,.134,0,.2V40.6Zm-10.69.8a3.449,3.449,0,0,0,6.9,0V13.858a3.449,3.449,0,1,0-6.9-.2c0,.069,0,.134,0,.2Zm9.955,31.276a3.371,3.371,0,0,1-3.026,1.9,3.214,3.214,0,0,1-1.46-.331A27.343,27.343,0,0,1,.024,48.142V34.649a3.358,3.358,0,0,1,6.717,0V48.142A20.69,20.69,0,0,0,19.088,68.17a3.368,3.368,0,0,1,1.552,4.5Z" transform="translate(0 -0.001)" fill="#be2bbb"/>
			  </g>
			</g>
		  </svg>		  
	</div>
	<div class="favicon-text">
		Value of <span>Innovation</span>
		  
	</div>
</div>

<style type="scss">
	/* Logo Dark Theme color changes */
	html.theme-dark #CORELOGO svg {
		overflow: visible;
	}
	html.theme-dark #CORELOGO path {
		fill: var(--theme-text);
	}
	html.theme-dark #Group_3092 path{
		fill: var(--theme-text);
	}
	html.theme-dark #CORELOGO #Path_27326 {
		fill: var(--theme-text);
	}
	html.theme-dark #CORELOGO #Path_27325 {
		fill: transparent;
		/* stroke: var(--theme-accent); */
		stroke: var(--theme-text-lighter);
		stroke-width: 10px;
	}
  /* Logo height as image -- still commented out above btw */
	.logo img {
		height: 60px;
	}
	/* Logo as inline svg */
	.logo svg {
		height: 50px;
		width: auto;
		display: block;
		color: var(--theme-accent);
    	transition: all .2s ease-in-out;
	}
	/* increase logo size on tablet & desktop */
	@media (min-width: 20em) {
		.logo svg {
		height: 40px;
		}
	}
	@media (min-width: 23.5em) {
		.logo svg {
		height: 50px;
		}
	}
	@media (min-width: 30em) {
		.logo svg {
		height: 50px;
		}
	}
	@media (min-width: 51em) {
		.logo svg {
		height: 55px;
		}
	}
	.logo {
		display: flex;
		align-items: center;
		gap: .75em;
		letter-spacing: -.03em;
		
		.favicon-text {
			font-family: var(--font-heading);
			display: none;
			@media (min-width: 59em) {
				display: inline-block;
			}
			font-size: 2.3rem;
			color: var(--theme-text);
			font-weight: 500;
			
				padding-top: .15em;
			span {
				
				font-weight: 700;
				color: var(--theme-accent-secondary);
			}
		}
	}
	.logo .favicon-text svg {
		height: 40px;
		
		fill: var(--theme-text-lightest);
	}

	#triangle #right {
		fill: var(--theme-text-lighter);
	}
	#triangle #top {
		fill: var(--theme-text-lightest);
	}
	#triangle #left {
		fill: var(--theme-text);
	}
	#top {
		fill: var(--investment-50);
	}
	#bottom {
		fill: var(--investment);
	}
	#middle {
		fill: var(--theme-accent-secondary);
	}
</style>
