---
// This is the frontmatter section where you can import other components or scripts if needed

const { heading, body } = Astro.props as Props;
---

<div class="logo">
	<div id="CORELOGO" class="favicon">
		<svg xmlns="http://www.w3.org/2000/svg" width="458.72" height="374.72" viewBox="0 0 154.72 134.72">
			<clipPath id="clip-path">
				<rect id="Rectangle_146" data-name="Rectangle 146" width="77" height="77" transform="translate(0 0.001)" fill="none"/>
			</clipPath>
			<clipPath id="clip-path-2">
				<path id="Path_894" data-name="Path 894" d="M342.878,191.178c3.736-7.865,9.113-6.043,14.015-4.22,2.345.872,4.581,1.744,6.478,1.555-2.083-1.066-3.052-4.892-8.236-5.813a9.391,9.391,0,0,0-1.649-.139,10.749,10.749,0,0,0-10.608,8.617" transform="translate(-342.878 -182.561)" fill="none"/>
			</clipPath>
			<clipPath id="clip-path-3">
				<path id="Path_895" data-name="Path 895" d="M357.092,415.554c-2.345-.872-4.58-1.744-6.477-1.556,2.084,1.064,3.052,4.892,8.236,5.812a9.6,9.6,0,0,0,2.75.084,10.749,10.749,0,0,0,9.508-8.561c-3.737,7.866-9.114,6.042-14.016,4.221" transform="translate(-350.615 -411.333)" fill="none"/>
			</clipPath>
			<defs>
				<linearGradient id="grad1">
				  <stop offset="0%" stop-color="var(--theme-text)" />
				  <stop offset="100%" stop-color="var(--theme-text-lightest)" />
				</linearGradient>
				<!-- Define more gradients as needed -->
			  </defs>
<!-- <g id="triangle">
	<g id="top"><polygon class="cls-1" points=".06 .12 38.74 22.38 38.74 22.39 77.42 44.66 116.1 22.39 116.1 22.38 154.78 .12 .06 .12"  fill="url(#grad1)" /></g>
	<g id="left"><polygon class="cls-1" points=".06 .13 0 .09 77.36 134.08 77.36 133.71 77.42 133.74 77.42 44.66 38.73 22.38 38.73 22.27 .16 0 .16 .17 .06 .12 .06 .13"  fill="url(#grad1)" /></g>
	<g id="right"><polygon class="cls-1" points="77.26 134.01 154.78 .12 154.62 .21 154.62 .02 115.99 22.38 115.99 22.38 96.14 33.88 77.42 44.66 77.42 44.72 77.36 44.75 77.31 89.38 77.31 89.38 77.31 89.38 77.26 134.01"  fill="url(#grad1)" /></g>
</g> -->
<g id="triangle"></g>
<g id="middle"><path class="cls-1" d="M104.35,68.21l-26.77,40.76c-.84,1.28-2.46,1.28-3.31,0l-26.77-40.76c-.61-.92-.61-2.23,0-3.15l26.77-40.76c.84-1.28,2.46-1.28,3.31,0l26.77,40.76c.61.92.61,2.23,0,3.15Z"/></g>
<g id="top"><path class="cls-1" d="M113.34,61.5L151.03,4.12c1.09-1.66.11-4.12-1.65-4.12H2.12C.35,0-.63,2.45.46,4.12l37.69,57.39c.84,1.28,2.46,1.28,3.31,0L74.09,11.81c.84-1.28,2.46-1.28,3.31,0l32.64,49.69c.84,1.28,2.46,1.28,3.31,0Z"/></g>
<g id="bottom"><path class="cls-1" d="M149.38,133H2.11c-1.76,0-2.75-2.45-1.65-4.12l37.69-57.39c.84-1.28,2.46-1.28,3.31,0l32.64,49.69c.84,1.28,2.46,1.28,3.31,0l32.64-49.69c.84-1.28,2.46-1.28,3.31,0l37.69,57.39c1.09,1.66.11,4.12-1.65,4.12Z"/></g>
</g>
		</svg>
	</div>
	<div class="favicon-text">
		Value of <span>Innovation</span>
		  
	</div>
</div>

<style type="scss">
	/* Logo Dark Theme color changes */
	html.theme-dark #CORELOGO svg {
		overflow: visible;
	}
	html.theme-dark #CORELOGO path {
		fill: var(--theme-text);
	}
	html.theme-dark #Group_3092 {
		path {
			fill: var(--theme-text);
		}
	}
	html.theme-dark #CORELOGO #Path_27326 {
		fill: var(--theme-text);
	}
	html.theme-dark #CORELOGO #Path_27325 {
		fill: transparent;
		/* stroke: var(--theme-accent); */
		stroke: var(--theme-text-lighter);
		stroke-width: 10px;
	}
  /* Logo height as image -- still commented out above btw */
	.logo img {
		height: 60px;
	}
	/* Logo as inline svg */
	.logo svg {
		height: 60px;
		width: auto;
		display: block;
		color: var(--theme-accent);
    	transition: all .2s ease-in-out;
	}
	/* increase logo size on tablet & desktop */
	@media (min-width: 20em) {
		.logo svg {
		height: 40px;
		}
	}
	@media (min-width: 23.5em) {
		.logo svg {
		height: 50px;
		}
	}
	@media (min-width: 30em) {
		.logo svg {
		height: 60px;
		}
	}
	@media (min-width: 51em) {
		.logo svg {
		height: 80px;
		}
	}
	.logo {
		display: flex;
		align-items: center;
		gap: .5em;
		letter-spacing: -.02em;
		.favicon-text {
			font-family: var(--font-heading);
			display: none;
			@media (min-width: 59em) {
				display: block;
			}
			font-size: 2.3rem;
			color: var(--theme-text-lightest);
			font-weight: 600;
			span {
				font-weight: 700;
				color: var(--theme-text-lighter);
			}
		}
	}
	.logo .favicon-text svg {
		height: 40px;
		fill: var(--theme-text-lightest);
	}

	#triangle #right {
		fill: var(--theme-text-lighter);
	}
	#triangle #top {
		fill: var(--theme-text-lightest);
	}
	#triangle #left {
		fill: var(--theme-text);
	}
	#top {
		fill: var(--investment-50);
	}
	#bottom {
		fill: var(--investment);
	}
	#middle {
		fill: var(--theme-accent-secondary);
	}
</style>
